.parallax {
  background-image: url(https://media.istockphoto.com/photos/bloggingblog-concepts-ideas-with-worktable-picture-id922745190);
  min-height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
