<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-5 mt-5 border-0" style="width: 18rem;">
        <div class="d-flex justify-content-center">
          <img src="../../assets/foto-perfil.png" class="card-img-top rounded-circle w-75" alt="Foto do Perfil">
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">Dennis Ferreira</h5>
          <p class="card-text text-center">Desenvolvedor Web Fullstack</p>
          <a href="https://github.com/dennisferreira1" target="_blank"
            class="btn btn-outline-dark d-flex justify-content-center">Github</a>
          <hr class="mb-4 mt-4">
          <h6 class="mb-3 font-monospace text-center">Pesquisar por nome</h6>
          <input type="text" class="form-control mb-3" [(ngModel)]="nomeBusca">
          <button class="btn btn-outline-warning w-100" (click)="pesquisarPorNome()">Pesquisar</button>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h3 class="text-center mb-4 font-monospace">Digite abaixo os seus comentários</h3>
      <div class="form-group mb-2">
        <label for="nome" class="font-monospace">Nome:</label>
        <input type="text" id="nome" name="nome" [(ngModel)]="post.nome" class="form-control" placeholder="Digite seu nome">
      </div>
      <div class="form-group mb-2">
        <label for="mensagem" class="font-monospace">Mensagem:</label>
        <textarea type="text" id="mensagem" name="mensagem" [(ngModel)]="post.mensagem" class="form-control" rows="4" cols="10"
          placeholder="Digite a sua mensagem"></textarea>
      </div>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-outline-info w-25 mt-3" (click)="publicarPost()">Publicar</button>
      </div>

      <hr class="mb-5 mt-5">

      <h3 class="text-center mb-5 font-monospace">Comentários publicados</h3>
      <div class="container">
        <div class="card mb-4" *ngFor="let post of posts">
          <div class="card-header">
            <h5 class="card-title">{{post.id}}</h5>
          </div>
          <div class="card-body">
            <p class="card-text">{{post.nome}}</p>
            <p class="card-text">{{post.mensagem}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
